
#adivinanzas01 {
    font-size: large;
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body{
    margin:0;
    padding: 0;
    font-size: x-large;
    font-family: 'Lora', serif;
    background-image: url(../images/fondogradiente.jpg);
    color: #E8F1F2;
    text-align: center;
}

h3{
    font-size: medium;
}
#gengarDiv {
    justify-content: space-evenly;
}

#resultadosContainer {
    border-radius: 18px;
    background-color: #323031;
}
#finalPokemon {
    margin-bottom: 2rem ;
}